h1 {
    color: green;
    text-align: center;
}

h2 {
    color: grey;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

<style>.song-list {
    list-style: none;
}

</style>