<!DOCTYPE html>
<html>
    <head>
    </head>
        <body>
            {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <b>{{message}}</b>
                {% endfor %}
            {%endif%}   
            {% endwith %}
            <div>
            <h1>Sign Up Now!</h1>
            <form method="POST" action="/create">
                <input type="text" id="username" name="username" placeholder="Enter Username Here">
                <button type="submit">Submit</button>
            </form>
            <p id="link"><a href="{{url_for('send_to_login')}}">click to login</a></p>
            </div>
        </body>
</html>

